################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/VBV_calc/obj
/.vs
/VBV_calc/bin/Debug/net8.0-windows
/VBV_calc/bin/Release/net8.0-windows
/VBV_calc/bin/Release
/VBV_formation/bin/Release/net8.0-windows
/VBV_formation/obj
/python
/x64/Debug
/VBV_calc/bin/Debug/net8.0-windows10.0.26100.0
/VBV_calc/dic
/png2toku
/packages
/tessdata
/VBV_calc/Properties/PublishProfiles
/img2vec/feature_extraction/resnet50_features.onnx
/img2vec/chara_data/hensei_features.json
/img2vec/feature_extraction/features.json
/img2vec/resnet50_saved_model
/img2vec/resnet50_features.onnx
/img2vec/resnet50_saved_model.keras
/CaptureWrapper/x64/Debug
/VBV_calc/bin/Debug/feature_extraction
