################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/VBV_calc/obj
/.vs
/VBV_calc/bin/Debug/net8.0-windows
/VBV_calc/bin/Release/net8.0-windows
/VBV_calc/bin/Release
/VBV_formation/bin/Release/net8.0-windows
/VBV_formation/obj
/python
/x64/Debug
/VBV_calc/bin/Debug/net8.0-windows10.0.26100.0
/VBV_calc/dic
/png2toku
/packages
/tessdata
/VBV_calc/Properties/PublishProfiles
/img2vec/feature_extraction/resnet50_features.onnx
/img2vec/chara_data/hensei_features.json
/img2vec/feature_extraction/features.json
/img2vec/resnet50_saved_model
/img2vec/resnet50_features.onnx
/img2vec/resnet50_saved_model.keras
/CaptureWrapper/x64/Debug
/VBV_calc/bin/Debug/feature_extraction
/img2vec/chara_data
/img2vec/feature_extraction
/img2vec/hensei_data
/img2vec/element_data/element_光.png
/img2vec/element_data/element_土.png
/img2vec/element_data/element_水.png
/img2vec/element_data/element_火.png
/img2vec/element_data/element_闇.png
/img2vec/element_data/element_風.png
/img2vec/equipment_data/equipment_両手.png
/img2vec/equipment_data/equipment_射撃.png
/img2vec/equipment_data/equipment_拳.png
/img2vec/equipment_data/equipment_斧槍.png
/img2vec/equipment_data/equipment_杖.png
/img2vec/equipment_data/equipment_法衣.png
/img2vec/equipment_data/equipment_片手.png
/img2vec/equipment_data/equipment_獣装.png
/img2vec/equipment_data/equipment_盾.png
/img2vec/equipment_data/equipment_素材.png
/img2vec/equipment_data/equipment_装飾.png
/img2vec/equipment_data/equipment_道具.png
/img2vec/equipment_data/equipment_鎧.png
/img2vec/equipment_data/equipment_鞭.png
/img2vec/job_data/job_ガーダー.png
/img2vec/job_data/job_キャスター.png
/img2vec/job_data/job_シューター.png
/img2vec/job_data/job_デストロイヤー.png
/img2vec/job_data/job_ヒーラー.png
/img2vec/job_data/job_ブレイダー.png
/img2vec/job_data/job_ランサー.png
/img2vec/leader_data/leader_乱戦.png
/img2vec/leader_data/leader_混沌.png
/img2vec/leader_data/leader_破滅.png
/img2vec/leader_data/leader_秩序.png
/img2vec/leader_data/leader_自由.png
/img2vec/leader_data/leader_計略.png
/img2vec/leader_data/leader_進撃.png
/img2vec/leader_data/leader_防御.png
/img2vec/job_リーダー.png
/VBV_Screen2Wiki/bin/Debug
/VBV_Screen2Wiki/obj
